# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.spec

# Temp
temp/

# Output
output/

# Iss
*.iss

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# XMLs gerados
XML/

# Ambiente virtual
venv/
.env/

# VSCode
.vscode/

# PyCharm
.idea/